body {
  margin: 0;
  background-color: #eae3b8;
  color: #012f48;
  transition: background-color 0.5s ease;
}

.border {
  border: 2px solid red;
}

input {
  opacity: 0;
  position: absolute;
}

input + label {
  display: flex;
  position: relative;
}

input + label::before {
  content: "";
  width: 60px;
  height: 30px;
  background-color: #002e47;
  border-radius: 5px;
  border: 1px solid black;
  transition: background-color 0.2s ease;
}

input:checked + label::before {
  background-color: #eae3b8;
}

#sun,
#moon {
  position: absolute;
  top: 42px;
}

#sun {
  right: 62px;
}

#moon {
  right: 30px;
}

.bold {
  font-weight: 700;
  font-size: 3.5rem;
  width: 60%;
}
.bold-700 {
  font-weight: 700;
}

.dark-mode {
  background-color: #002e47;
  color: #e4deb4;
}

.button {
  width: 350px;
  background-color: #eae3b8;
  border: 1px solid #f38813;
  border-radius: 10px;
  box-shadow: 0px 0px 35px 0px #ede7c2;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.button2 {
  color: #012f48;
}

.button:hover {
  transform: scale(1.1);
}

#circleLine {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 30%;
  height: 30%;
  transition: transform 0.5s ease-in-out;
}

#circleLine:hover {
  transform: translate(10px, 10px) rotate(45deg) scale(1.5);
}

.each {
  margin: 70px 0px 70px 20px;
}

.each1 {
  color: #c36d0d;
}

.index {
  margin-right: 30px;
  border: 2px solid black;
}

.index1 {
  border: 2px solid #c36d0d !important;
  color: white;
}

/* for animations */
.animate-from-left {
  /* opacity: 0; */
  transform: translateX(-50%);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animate-from-right {
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animate-show {
  opacity: 1;
  transform: translateX(0);
}
